table {
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
}

tr {
    background-color: #1a1a1a;
    color: white;
}

tr:nth-child(odd) {
    background-color: #1e1e1e;
}

td {
    padding: 10px;
    margin: 0px;
}

select {
    margin: 15px;
}

a {
    color: aqua;
}

.contactDetail {
    width: 60%;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: thin;
    color: #4d4d4d;
}

.dot {
    height: 9px;
    width: 9px;
    margin: 0px 10px 0px 10px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.yellowDot {
    height: 9px;
    width: 9px;
    margin: 0px 10px 0px 10px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.redDot {
    height: 9px;
    width: 9px;
    margin: 0px 10px 0px 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

tr.selected{
    background-color: #484848;
}

tr.selected td {
    color: white;
}

#contactHeader {
    background-color: #2e2e2e;
    color: white;
    padding: 25px 50px 25px 25px;
    font-size: larger;
}

#footer {
    background-color: #2e2e2e;
    text-align: right;
}